/* General Styling */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #0e112a; /* Background dark blue */
  color: #ffffff; /* White text */
  height: 100vh;
  margin-top: -60px;
}

.content {
  max-width: 50%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff4f79, #7c77e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}

h1 span {
  display: block;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.highlight {
  color: #7c77e6;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.primary-btn {
  background: linear-gradient(90deg, #ff4f79, #7c77e6);
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.primary-btn:hover {
  opacity: 0.8;
}

.secondary-btn {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.secondary-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* Profile Image */
.image-container {
  max-width: 40%;
  text-align: center;
}

.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column; /* Stack the content and image */
    align-items: center; /* Center both the text and image */
    padding: 2rem;
    height: auto; /* Allow the section height to adjust based on content */
  }

  .content {
    max-width: 100%;
    text-align: center; /* Center align the text */
    margin-bottom: 2rem;
    margin-top: 80px;
  }

  h1 {
    font-size: 2.5rem; /* Adjust heading size for smaller screens */
  }

  .image-container {
    max-width: 80%; /* Ensure image is contained */
    margin-top: 1rem; /* Space between text and image */
  }

  .profile-image {
    width: 100%; /* Make sure the image scales well within its container */
    height: auto;
  }
  .buttons {
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;
    flex-direction: row; /* Stack the buttons vertically */
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-top: 40px;
    font-size: 2rem; /* Smaller font size for very small screens */
  }

  p {
    font-size: 1rem; /* Adjust paragraph font size for small screens */
  }

  .buttons {
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    gap: 1rem;
  }

  .image-container {
    margin-top: 1rem; /* Ensure space between image and text */
  }

  .profile-image {
    width: 100%; /* Image scales within the container */
    height: auto;
  }
}
